/* Style for header buttons */
.header-button {
  cursor: pointer;
  padding: 8px 16px;
  margin: 4px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #45a049;
}

/* Style for the counter label */
.header-label {
  margin-left: 10px;
  font-size: 12px;
  color: #333;
}

/* Style for the smaller copy button */
.copy-button-small {
  cursor: pointer;
  padding: 0;
  width: 40px; /* Set a small, fixed width */
  height: 20px; /* Fixed height */
  font-size: 10px; /* Smaller font size */
  color: white;
  background-color: orange;
  border: none;
  border-radius: 3px;
  margin-left: 5px; /* Add some space to the left */
  text-align: center;
  line-height: 20px; /* Center the text vertically */
  display: inline-block; /* Ensure the button is inline with the checkbox */
  vertical-align: middle; /* Align it with the checkbox */
  position: relative; /* Position it relative to the parent */
  right: 5px;
  top: 5px;
}


.copy-button-small:hover {
  background-color: #45a049;
}
